# Python
__pycache__/
*.py[cod]
*.so
*.pyo

# Ambiente virtual
.venv/
venv/
ENV/

# Node
node_modules/

# Saída do conversor
output_generated_code/

# IDEs
.idea/
.vscode/

# Logs
*.log
npm-debug.log*

# Variáveis de ambiente
.env
*.env

# Arquivos temporários
*.tmp
*.bak
*.orig
